.ols-plugin__alert {
  margin-bottom: var(--pf-v5-global--spacer--lg);
}

.ols-plugin__chat-history {
  overflow-y: auto;
  padding-bottom: 8rem;
  padding-left: 10%;
  padding-right: 10%;

  .ols-plugin__chat-entry {
    --logo-size: 2.5rem;

    background-position: -1px 0;
    background-repeat: no-repeat;
    background-size: var(--logo-size);
    padding-bottom: var(--pf-v5-global--spacer--lg);
    padding-left: calc(var(--logo-size) + var(--pf-v5-global--spacer--md));
  }

  .ols-plugin__chat-entry-error {
    color: var(--pf-v5-global--palette--red-100);
  }

  .ols-plugin__chat-entry-ai {
    background-image: url('../assets/logo.svg');
  }

  .ols-plugin__chat-entry-user {
    background-image: url('../assets/user.png');
  }

  .ols-plugin__chat-entry-name {
    font-weight: bold;
  }
}

.ols-plugin__chat-prompt {
  bottom: 0;
  padding-bottom: var(--pf-v5-global--spacer--sm);
  padding-top: var(--pf-v5-global--spacer--sm);
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  width: 80%;

  .ols-plugin__chat-prompt-input {
    max-height: 20rem;
  }

  .ols-plugin__chat-prompt-submit {
    align-self: end;
  }

  .ols-plugin__chat-context-action {
    margin-top: var(--pf-v5-global--spacer--sm);
  }
}

.ols-plugin__chat-footer {
  margin: var(--pf-v5-global--spacer--sm) auto;
}

.ols-plugin__page-title {
  --logo-size: var(--pf-v5-global--spacer--2xl);
  --logo-spacer-left: var(--pf-v5-global--spacer--lg);
  --logo-spacer-right: var(--pf-v5-global--spacer--md);

  background-image: url('../assets/logo.svg');
  background-position: var(--logo-spacer-left) center;
  background-repeat: no-repeat;
  background-size: var(--logo-size);
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  padding-left: calc(var(--logo-spacer-left) + var(--logo-size) + var(--logo-spacer-right));
}
