.ols-plugin__alert {
  margin-bottom: var(--pf-t--global--spacer--lg);
}

.ols-plugin__avatar {
  border-radius: 50%;
}

.ols-plugin__chat-history {
  overflow-y: auto;
}

.ols-plugin__code-block {
  overflow: hidden;
}

.ols-plugin__code-block-code {
  max-height: 10rem;
  overflow: auto;
}

.ols-plugin__code-block--attachment .ols-plugin__code-block-code {
  max-height: 20rem;
}

/* stylelint-disable-next-line selector-disallowed-list */
.ols-plugin__code-block--attachment .pf-v6-c-code-block__actions {
  justify-content: space-between;
  width: 100%;
}

.ols-plugin__code-block__title {
  padding-left: var(--pf-v5-global--spacer--md);
  padding-top: var(--pf-v5-global--spacer--form-element);
}

.ols-plugin__code-inline {
  font-family: var(--pf-v5-global--FontFamily--monospace);
  font-weight: var(--pf-v5-global--FontWeight--bold);
}

.ols-plugin__feedback h6 {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--body--sm);
  font-weight: var(--pf-t--global--font--weight--body--default);
}

/* stylelint-disable-next-line selector-disallowed-list */
.pf-chatbot__menu .pf-v6-c-menu__search {
  display: none;
}

.ols-plugin__context-label {
  margin-right: var(--pf-t--global--spacer--sm);
  margin-top: var(--pf-t--global--spacer--sm);
}

.ols-plugin__context-label-text {
  display: inline-flex;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ols-plugin__footnote {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--body--sm);
  text-align: center;
}

.ols-plugin__header-title {
  --logo-size: var(--pf-t--global--spacer--2xl);
  --logo-spacer-left: var(--pf-t--global--spacer--lg);
  --logo-spacer-right: var(--pf-t--global--spacer--md);

  background-image: url('../assets/logo.svg');
  background-position: var(--logo-spacer-left) center;
  background-repeat: no-repeat;
  background-size: var(--logo-size);
  min-height: var(--logo-size);
  padding-left: calc(var(--logo-spacer-left) + var(--logo-size) + var(--logo-spacer-right));
}

.ols-plugin__popover-container--dark .ols-plugin__header-title {
  background-image: url('../assets/logo-dark.svg');
}

.ols-plugin__inline-icon {
  margin-left: var(--pf-v5-global--spacer--sm);
}

.ols-plugin__prompt {
  border: 1px solid var(--pf-t--global--border--color--default);
}

.ols-plugin__radio {
  align-items: center;
}

.ols-plugin__welcome-logo {
  --logo-size: var(--pf-t--global--spacer--4xl);

  background-image: url('../assets/logo.svg');
  height: var(--logo-size);
  margin: var(--pf-t--global--spacer--2xl) auto var(--pf-t--global--spacer--lg) auto;
  width: var(--logo-size);
}

.ols-plugin__popover-container--dark .ols-plugin__welcome-logo {
  background-image: url('../assets/logo-dark.svg');
}

.ols-plugin__welcome-subheading {
  color: var(--pf-t--global--text--color--subtle);
  margin: var(--pf-t--global--spacer--lg) auto;
  max-width: 30rem;
  text-align: center;
}
