.ols-plugin__chat-history, .ols-plugin__chat-prompt {
  padding-left: 10%;
  padding-right: 10%;
}

.ols-plugin__chat-history {
  height: calc(100% - 80px);
  overflow-y: auto;

  .ols-plugin__chat-entry {
    clear: both;
    padding-left: var(--pf-v5-global--spacer--xl);
    padding-right: var(--pf-v5-global--spacer--xl);
    padding-bottom: var(--pf-v5-global--spacer--lg);
  }

  .ols-plugin__chat-entry-error {
    color: var(--pf-v5-global--palette--red-100);
  }

  .ols-plugin__chat-entry-ai {
  }

  .ols-plugin__chat-entry-user {
  }

  .ols-plugin__chat-entry-name {
    font-weight: bold;
  }
}

.ols-plugin__chat-prompt {
  --prompt-height: 100px;

  bottom: 0;
  padding-top: var(--pf-v5-global--spacer--md);
  position: fixed;
  width: calc(100% - 290px);

  textarea.ols-plugin__chat-prompt-input {
    height: var(--prompt-height);
    resize: none;
    width: calc(100% - 50px);
  }

  .ols-plugin__chat-prompt-submit {
    height: var(--prompt-height);
    width: 50px;
  }
}

.ols-plugin__chat-footer {
  margin: var(--pf-v5-global--spacer--sm) auto;
}
