:root {
  --popover-border-radius: 12px;
  --popover-button-size: var(--pf-v5-global--spacer--2xl);
  --popover-margin: var(--pf-v5-global--spacer--lg);
  --popover-bottom: calc(
    var(--popover-button-size) + var(--popover-margin) + var(--pf-v5-global--spacer--sm)
  );
}

/* Add space at bottom of web console pages, so that the OLS button doesn't obscure other elements.
   These rules should be removed if we move the button location. */
/* stylelint-disable-next-line selector-disallowed-list */
.co-dashboard-body, .co-m-list .co-m-pane__body:last-of-type, .co-m-page__body .co-m-pane__body:last-of-type {
  padding-bottom: calc(var(--popover-button-size) + 2 * var(--popover-margin));
}

.ols-plugin__popover, .ols-plugin__popover-button {
  box-shadow: var(--pf-v5-global--BoxShadow--lg);
  position: absolute;
  right: var(--popover-margin);
  z-index: 199;
}

.ols-plugin__popover {
  border-radius: var(--popover-border-radius);
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  bottom: var(--popover-bottom);
  overflow: hidden;
}

.ols-plugin__popover--collapsed {
  height: calc(100% - 2*var(--popover-bottom));
  width: calc(100% - 2*var(--popover-margin));
}

/* --pf-v5-global--breakpoint--md */
@media (min-width: 768px) {
  .ols-plugin__popover--collapsed {
    width: 50%;
  }
}

/* --pf-v5-global--breakpoint--xl */
@media (min-width: 1200px) {
  .ols-plugin__popover--collapsed {
    width: 40%;
  }
}

/* --pf-v5-global--breakpoint--2xl */
@media (min-width: 1450px) {
  .ols-plugin__popover--collapsed {
    width: 35%;
  }
}

.ols-plugin__popover--expanded {
  height: calc(100% - var(--popover-bottom) - var(--popover-margin));
  width: calc(100% - 2*var(--popover-margin));
}

.ols-plugin__popover-button {
  background-image: url('../assets/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--popover-button-size) + 3px);
  border-radius: var(--popover-border-radius);
  bottom: var(--popover-margin);
  box-shadow: var(--pf-v5-global--BoxShadow--lg);
  height: var(--popover-button-size);
  padding: 0;
  position: absolute !important;
  width: var(--popover-button-size);
}

/* stylelint-disable-next-line selector-disallowed-list */
.pf-v5-theme-dark .ols-plugin__popover-button {
  background-color: var(--pf-v5-global--BackgroundColor--100);
  background-image: url('../assets/logo-dark.svg');
}

.ols-plugin__popover-close {
  float: right;
  font-size: 1rem;
  padding: 0;
}

.ols-plugin__popover-control {
  font-size: 1rem !important;
  padding-left: var(--pf-v5-global--spacer--sm);
  padding-right: var(--pf-v5-global--spacer--sm);
}
